automation/social_sharing.json
{
  "name": "Crypto Wiki: Social Sharing",
  "nodes": [
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{$json.facebook}}"
              },
              {
                "name": "link",
                "value": "={{$json.link}}"
              }
            ]
          }
        }
      },
      "id": "2c2dce0c-819c-4b07-a6bc-821e8c8920e4",
      "name": "Facebook Graph API",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -560,
        64
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "CGGakNGphccGvIDc",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const name = item.json.name || \"Exchanges\";\n  const link = item.json.link || \"https://crypto-wiki.com/exchanges\";\n\n  const variants = [\n    `Check out our latest ${name} review 🔎 Features, pros & cons for crypto traders. 👉 ${link} #CryptoExchange #CryptoTrading`,\n    \n    `Curious about ${name}? Our review covers fees, security & usability — all you need before trading digital assets. 👉 ${link} #CryptoTrading`,\n    \n    `We reviewed ${name} so you don’t have to. Key insights on this crypto exchange 👉 ${link} #Crypto`,\n    \n    `Thinking about trading on ${name}? Our review explores its strengths & weaknesses to help you decide. 👉 ${link} #CryptoExchange`,\n    \n    `${name} under review 🔍 From security to fees, here’s what every trader should know before using this exchange. 👉 ${link} #Crypto #CryptoTrading`,\n    \n    `Is ${name} the right platform for your crypto journey? 🚀 Our latest review breaks down the essentials. 👉 ${link} #CryptoExchange`\n  ];\n\n  const post = variants[Math.floor(Math.random() * variants.length)];\n\n  return {\n    json: {\n      ...item.json,\n      facebook: post,\n      twitter: post\n    }\n  };\n});"
      },
      "id": "e88f81b3-d972-4aac-9ed4-6db9c9586490",
      "name": "Format Social Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -752,
        128
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "Crypto.com"
            },
            {
              "name": "link",
              "value": "https://www.thecrypto.wiki/exchanges/cryptocom"
            }
          ]
        },
        "options": {}
      },
      "id": "e072be65-c119-4e00-ba9f-653b89271f88",
      "name": "Set Post Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -960,
        128
      ]
    },
    {
      "parameters": {},
      "id": "53552d4d-3876-453f-a303-0a913ff3e3da",
      "name": "Manual Trigger (Social Share)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1152,
        128
      ]
    },
    {
      "parameters": {
        "text": "={{$json.twitter}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        -560,
        240
      ],
      "id": "3958bf25-20fd-46a5-a6ab-28f494e109b4",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "QT8bLYGAdrhMNYdJ",
          "name": "X account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Format Social Post": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Post Data": {
      "main": [
        [
          {
            "node": "Format Social Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (Social Share)": {
      "main": [
        [
          {
            "node": "Set Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "743d11ac-8e50-41bf-8aa6-7cb3be5c703c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "002b5e092f04f4d75aa57fd214532db5fa3d65fe608d265bda2ed541d575f595"
  },
  "id": "KYJga45bwixvg8DY",
  "tags": []
}